.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-right: 12px;
}

.header > a:not(.aboutLink):hover {
  text-decoration: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoContainer > h1 {
  font-weight: 300;
}

@media (orientation: portrait) {
  .logoContainer > h1 {
    font-size: large;
  }
  .aboutLink {
    font-size: small;
  }
}