:root {
  --bg: #000;
  --fg: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.1rem;
}

hr {
  align-self: center;
  width: 75%;
  margin-top: 2.5rem;
  border-top: 2px solid gray;
}

li {
  list-style: none;
  margin: 4px 0;
}

h3 {
  text-decoration: underline;
  margin-top: 2rem;
}

ul {
  margin: 1rem 0;
}