.main {
  width: 100vw;
}

.mainContainer {
  display: flex;
  justify-content: center;
  padding: 0 10rem;
  align-items: center;
}

.h1 {
  font-size: xx-large;
}

.container {
  text-align: center;
  padding: 2px 1rem;
}

.container > h2 {
  margin-top: 4rem;
  text-decoration: underline gray;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.destinations > a {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 24px;
}

.line {
  text-align: left;
  padding: 0 4rem;
  color: gray;
  margin-top: 1rem;
}

.destinations > a:hover {
  border: 1px solid #323232;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .destinations {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (orientation: portrait) {
  .header {
    margin-right: 0;
  }

  .mainContainer {
    flex-direction: column-reverse;
  }

  .solarSystemImg {
    width: 100vw;
    height: min-content;
  }

  .destinations {
    grid-template-columns: 1fr;
  }

  .destinations > div > p {
    padding: 0 2rem;
  }
}

